.popup-form__input {
    width: 83%;
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0, 0.2);
    padding: 0 0 11px 0;
    margin: 30px 0 0 0;
}