.header__authorization{
    display: block;
    font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
color: #FFFFFF;
background: none;
border: none;
text-decoration: none;
text-align: right;
}

.header__authorization:hover {
    opacity: 0.8;
    cursor: pointer;
}