.popup-form__button {
    width: 358px;
    height: 50px;
    background: #000000;
    border-radius: 2px;
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #FFFFFF;
    margin: 41px 0 35px 0;
    padding: 0;
    border: none;
}

.popup-form__button:hover {
    opacity: 0.8;
    cursor: pointer;
}

@media screen and (min-width: 320px) and (max-width: 767px) {
    .popup-form__button {
        width: 238px;
        height: 46px;
        font-size: 14px;
        line-height: 17px;
        margin: 41px 0 25px 0;
    }
}